html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr 4%;
    background-color: #242424;
}

.header {
    color: #DEE3E6;
    background-color: #1a1a1a;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.headerLeft, .headerTitle, .body {
    position: relative;
}

.menuBtn, .title, .loginForm, .welcomePage {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    height: 100%;
}

.footer {
    background-color: #1a1a1a;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
}

.footerText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: #DEE3E6;
    font-family: 'Source Sans Pro', sans-serif;
}

.link {
    text-decoration: none;
    color: #1a1a1a;
}

.registerText {
    color: #DEE3E6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.pText {
    margin: 10px;
    margin-bottom: 25px;
}

.loginForm {
    position: relative;
    background-color: #4A4A4A;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    border-radius: 25px;
    width: 450px;
    padding: 20px;
}

label {
    color: #DEE3E6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 15px;
}

input {
    display: block;
    width: 100%;
    background-color: #242424;
    padding: 12px 24px;
    font-size: 18px;
    border: 2px solid #1a1a1a;
    box-sizing: border-box;
    border-radius: 33px;
    color: #DEE3E6;
}

hr {
    width: 75%;
    color: #1a1a1a;
}

.formTitle {
    text-transform: uppercase;
    font-size: 48px;
    color: #DEE3E6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;
}

.btnForm {
    text-align: center;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    padding: 7px 15px;
    border: 2px solid  #DEE3E6;
    color: #DEE3E6;
    background-color: #1a1a1a;
    border-radius: 25px;
    transition: .5s;
}

button:hover {
    color: #1a1a1a;
    background-color: #DEE3E6;
    transition: .5s;
}

.welcomeText {
    font-family: 'Source Sans Pro', sans-serif;
    color: #DEE3E6;
    font-size: 48px;
    margin: 0;
}

.welcomePara {
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
}

.welcomePage {
    background-color: #4A4A4A;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    width: 450px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}